[color]
	ui = true
[format]
	pretty = %C(yellow)%H %C(red)%ar %C(green)%an %C(reset)%s
[color "status"]
	added = green
	changed = yellow
	untracked = red
[alias]
	diffc = diff --cached
	diffs = diff --stat
	diffcs = diff --cached --stat
	diffsc = diff --stat --cached
	dist = diff --stat
	st = status -sb
	wd = diff --word-diff
	cw = diff --color-words="[^][<>()\\\\{},;:?/|\\\\\\\\=+*&^%$#@!~`\\\"\\'\\\\\\'\\'[:space:]]+|[][<>(){},.;:?/|\\\\\\\\=+*&^%$#@!~`\\\"\\'\\\\\\'\\']"
	dm = diff --color-words="[^][<>()\\\\{},;:?/|\\\\\\\\=+*&^%$#@!~`\\\"\\'\\\\\\'\\'[:space:]]+|[][<>(){},.;:?/|\\\\\\\\=+*&^%$#@!~`\\\"\\'\\\\\\'\\']" master
	ds = diff --staged --color-words="[^][<>()\\\\{},;:?/|\\\\\\\\=+*&^%$#@!~`\\\"\\'\\\\\\'\\'[:space:]]+|[][<>(){},.;:?/|\\\\\\\\=+*&^%$#@!~`\\\"\\'\\\\\\'\\']"
	sc = show --color-words="[^][<>()\\\\{},;:?/|\\\\\\\\=+*&^%$#@!~`\\\"\\'\\\\\\'\\'[:space:]]+|[][<>(){},.;:?/|\\\\\\\\=+*&^%$#@!~`\\\"\\'\\\\\\'\\']"
	sn = show --name-only
	msg = show -s --format=%B
	hist = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%Creset | %s%C(red)%d %Cgreen[%an]\" --date=short
	hh = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%Creset | %s%C(red)%d %Cgreen[%an]\" --date=short -10
	hha = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%Creset | %s%C(red)%d %Cgreen[%an]\" --date=short -10 --author
	hom = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%Creset | %s%C(red)%d %Cgreen[%an]\" --date=short ...master
	br = branch -v
	co = checkout
	mst = checkout master
	cp = cherry-pick
	rs = reset
	hard = reset --hard
	amen = commit --all --amend --no-edit
	tmp = commit --all -m "tmp"
	unt = reset head~1 --soft
	rb = rebase
	rbc = rebase --continue
	rbm = rebase master
	pl = pull --no-stat
	sa = stash apply
[core]
	editor = vim
	repositoryformatversion = 0
	filemode = false
	bare = false
	logallrefupdates = true
	symlinks = false
	ignorecase = true
	quotepath = false
	autocrlf = false
	excludesfile =
[i18n]
	commitencoding = utf8
	logoutputencoding = utf8
[gui]
	encoding = utf-8
	recentrepo = D:/repos/shared
	recentrepo = D:/repos/webui
	recentrepo = D:/repos/pa6
[push]
	default = simple
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
[difftool "sourcetree"]
	cmd = 'git' show $LOCAL --color-words
